h1{
    color: rgb(0, 0, 0);
    font-family: "kepler-std-semicondensed-sub", serif;
    font-weight: 400;
    font-style: normal;
}

.year {
    position: fixed;
    top: 45px;
    right: 45px;
    color: rgb(0, 0, 0);
    font-family: "kepler-std-semicondensed-sub", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 26px;
    z-index: 1001;
}

ul{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}

li{
    width:fit-content;
    padding: 30px;
    list-style-type: none;
    
}

li:hover{
    background-color: grey;
    color: white;
}

header{
    text-align:left;
    padding-left: 40px;
    padding-top: 20px;
}

.side-header-fixed {
    position: fixed; /* Fixes the header's position relative to the browser window */
    right: 0; /* Aligns the header to the right edge */
    top: 225px; /* Aligns the header to the top edge */
    height: 100vh; /* Makes the header span the full height of the viewport */
    width: 270px; /* Set the width of your sidebar */
    border-left: 2px solid black;
    border-top: 2px solid black;
    z-index: 1000; /* Ensures sidebar stays on top */
    background-color: white; /* Prevents content from showing through */
    overflow-y: auto; /* Allows scrolling if content is too tall */
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: auto;
    text-align: center;
}
.grid div{
    border: 1px solid black;
}

p{
    color: rgb(0, 0, 0);
    font-family: kepler-std-caption, serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    max-width: 200px;
}

.container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  height: 200px;          
}

a{
    text-decoration: none;
    font-family: kepler-std-semicondensed-cap, serif;
    font-weight: 400;
    font-style: normal;
}

body{
    margin: 0;
    padding-left: 30px;
    padding-right: 290px; /* Adds space for fixed sidebar (270px width + 20px margin) */
}
