h1{
    color: rgb(0, 0, 0);
    font-family: "kepler-std-semicondensed-sub", serif;
    font-weight: 400;
    font-style: normal;
}

ul{
    display: flex;
    flex-direction:column;
    justify-content:space-around;
}

li{
    width:fit-content;
    padding: 30px;
    list-style-type: none;
    
}

li:hover{
    background-color: grey;
    color: white;
}

header{
    text-align:left;
    padding-left: 40px;
    padding-top: 20px;
}

.grid{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    margin: auto;
    text-align: left;
    justify-content: space-evenly;
    width: 100%;
    max-width: 100%;
    padding-top: 300px;
}

p{
    color: rgb(0, 0, 0);
    font-family: kepler-std-caption, serif;
    font-weight: 400;
    font-style: normal;
}

a{
    text-decoration: none;
    font-family: kepler-std-semicondensed-cap, serif;
    font-weight: 400;
    font-style: normal;
}

.side-header-fixed {
    position: fixed; /* Fixes the header's position relative to the browser window */
    right: 0; /* Aligns the header to the right edge */
    top: 200; /* Aligns the header to the top edge */
    height: 100vh; /* Makes the header span the full height of the viewport */
    width: 270px; /* Set the width of your sidebar */
    border-left: 2px solid black;
    border-top: 2px solid black;
    z-index: 1000; /* Ensures sidebar stays on top */
    background-color: white; /* Prevents content from showing through */
    overflow-y: auto; /* Allows scrolling if content is too tall */
}

body{
    margin: 0;
    padding-left: 30px;
    padding-right: 290px; /* Adds space for fixed sidebar (270px width + 20px margin) */
}

.accordion {
  background-color: #444;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  min-height: 60px;
  height: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: background-color 0.4s;
  font-family: kepler-std-semicondensed-cap, serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  display: block;
  box-sizing: border-box;
}

.accordion:hover {
  background-color: #666;
}

.accordion.active {
  background-color: #444;
}

.panel {
  padding: 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
